/* Reset CSS
v2.0
*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================================================================================= */

/* GENERAL */

html, body {
    height: 100%;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.2em;
}

header {
    width: auto;
    min-height: 100%;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding-top: 100px;
}

h2 {
    color: #6e4eb0;
    text-align: left;
    font-weight: 900;
}


.btn {
    padding: 10px;
    border: transparent;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
}

::selection {
    background: #3FD5FB;
}
/* ========================================================================================= */

/* HEADER */

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#d5f5fd ,#5693d6);
    transform: skewY(-6deg);
    transform-origin: top left;
}

#bubble-violet {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: auto;
    z-index: 1;
}

/* Navigation */
header nav {
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #fdfdfd;
    margin: 10px;
}

.logo-menu {
    width: 50px;
    height: auto;
}

nav ul {
    display: flex;
}

nav ul li a{
    padding: 5px;
    margin-right: 20px;
    transition: border .2s ease-in-out;
    border: 2px solid transparent;

}

nav ul li a:hover {
    border: 2px solid #3FD5FB;
    border-radius: 3px 3px 3px 3px;
}

/* Title */
.container-accroche {
    padding-top: 80px;
    margin-left: 300px;
}

.accroche {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    margin-right: 40px;
}

.headline {
    background-image: url(/public/images/waves/wave-violet-head.svg);
    background-repeat: repeat-x;
    background-position: top center;
    background-position-x: 100px;
    background-position-y: 97%;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;

    animation: transitionWave linear infinite 20s;
}

@keyframes transitionWave {
    from {background-position-x: 0;}
    to {background-position-x: 100%;}
}

.headline h1 {
    display: inline;
    font-size: 5em;
    font-weight: 900;
}

.title p {
    font-size: 1.3em;
    line-height: 2em;
    margin-bottom: 40px;
    color: #fdfdfd;
}

.text {
    display: flex;
}

.barre-verticale {
    width: 2px;
    height: auto;
    border-left: 2px solid #3FD5FB;
    padding-right: 15px;
}

.btn-look {
    background-color: #3FD5FB;
    color: #fdfdfd;
    margin-right: 10px;
}

.btn-inscription {
    background-color: #E6EAEC;
    color: #6e4eb0;
    text-transform: uppercase;
    font-weight: 900;
}

#logo {
    width: 40%;
    height: 40%;
}

.bubble-blue {
    position: absolute;
    bottom: -80px;
    margin: auto;
}


/* ========================================================================================= */

/* SECTION INFO */
.container-page {
    background-image: linear-gradient(to bottom, #fefefe, #f5f6fd, #eaeefd, #dce7fd, #cbe1fd, #c8e2fd, #c5e2fd, #c2e3fc, #cfe9fd, #dcf0fd, #e9f6fe, #f7fcff);
}

#info {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding-bottom: 80px;
}

.text-info {
    width: 450px;
    height: auto;
}

.text-info p {
    text-align: justify;

}

.text-info p span {
    font-weight: 900;
}

.mockup {
    height: auto;
}

/* ========================================================================================= */

/* SECTION HOW */

#how {
    position: relative;
    width: 100%;
    height: auto;
    /* background: linear-gradient(#d5f5fd ,#5693d6); */
    padding-bottom: 100px;
}

#how h2 {
    text-align: center;
}

#slider {
    padding-top: 60px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#slider img {
    height: 100%;
    width: 100%;
}

.slides {
    display: flex;
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 14px 0 #000;

}

.slides figure + figure {
    display: none;
}

.slide {
    width: 100%;
    height: auto;
}

/* Arrow */
.command {
    position: absolute;
    top: 50%;
    z-index: 20;
    cursor: pointer;
}

.command-prev {
    left: -100px;
}

.command-next {
    right: -100px;
}

.command i {
    height: auto;
    color: #6e4eb0;
}

.command-prev i {
    position: absolute;
    top: 5px;
    left: 3px;
}

.command-prev i {
    position: absolute;
    top: 5px;
    right: 3px;
}

/* figcaption */
figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    background-color: rgba(77, 76, 76, 0.8);
    padding: 20px;
    color: #fdfdfd;
}

#container-slider nav {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

#container-slider nav ul {
    position: absolute;

}

#container-slider nav li {
    transition: all ease 3ms;
    margin: 15px;
    z-index: 1000;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #5693d6;
    box-shadow: 0 0 2px 0 #fff;
    cursor: pointer;
}

#container-slider nav li.active {
    background-color: #3FD5FB;
    width: 15px;
    height: 15px;
}

#container-slider nav li:hover {
    background-color: #3FD5FB;
} 

/* ========================================================================================= */
/* separation */

/* SECTION BEGIN */

#begin {
    text-align: center;
    padding-bottom: 80px;
}

#begin h2 {
    text-align: center;
    margin-bottom: 50px;
}

.btn-begin {
    background-color: #3FD5FB;
    color: #fdfdfd;
    margin-right: 10px;
}

/* ========================================================================================= */

/* FOOTER */
.container-footer {
    text-align: center;
    margin-bottom: 20px;
}
.container-footer p {
    font-size: .8em;
}

.container-footer .name-footer {
    font-weight: bold;
}

.container-footer .type-footer {
    font-style: italic;
}


/* ========================================================================================= */
/* PAGE CONNEXION ET INSCRIPTION */

.container-form {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form h1 {
    font-size: 3em;
    color: #6e4eb0;
    font-weight: 900;
}

.container-form form {
    text-align: center;
}

.container-form form p {
    margin-bottom: 20px;
}

.container-form input {
    padding: 10px;
    width: 300px;
    border: 1px solid #000;
    border-radius: 6px 6px 6px 6px;
}

.container-form button {
    background-color: #E6EAEC;
    color: #6e4eb0;
    padding: 10px;
    border: transparent;
    border-radius: 6px 6px 6px 6px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 20px;

}

.separation {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.separate {
    position: relative;
    display: inline-block;
}

.separate::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 130px;
    background-color: #000;
    left: 30px;
    top: 10px;
}

.separate::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 130px;
    background-color: #000;
    right: 30px;
    top: 10px;
}

.already-account {
    margin-top: 20px;
}

.link-co {
    color: #6e4eb0;
}

.btn-google {
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    background-color: #4285f4;
}

.logo-google {
    background-color: #E6EAEC;
    height: 30px;
    padding: 1px;
}

.logo-google img {
    width: 30px;
    height: auto;
}

.btn-google a {
    text-transform: uppercase;
    font-weight: bold;
    color: #E6EAEC;
    padding-top: 7px;
    padding-left: 6px;
    padding-right: 6px;
}

.bubble_blue {
    position: fixed;
    bottom: -80px;
    margin: auto;
}

/* Responsive design for home, inscription, connexion pages */
@media screen and (max-width: 1440px) {
    .container-accroche {
        padding-top: 137px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .text p {
        line-height: 1em;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    #how {
        display: none;
    }
}

@media screen and (max-width: 645px) {
    header nav {
        justify-content: unset;
        color: #6e4eb0;
    }

    #logo {
        display: none;
    }
    nav ul li a {
        margin-right: 5px;
        padding: 0;
    }
    .bubble_blue img {
        width: 80px;
        height: auto;
    }

    .mockup {
        width: 300px;
    }
    .text-info {
        padding: 5px;
    }
}

@media screen and (max-width: 470px) {
    .container-accroche {
        margin-left: 50px;
    }
    .headline h1 {
        font-size: 4.5em;
    }
    .text p {
        font-size: 1em;
    }
}

@media screen and (max-width: 350px) {
    .container-accroche {
        margin-left: 10px;
    }
}

/* ========================================================================================= */

/** PAGE WELCOME **/

.btn-create {
    background-color: #E6EAEC;
    color: #6e4eb0;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

/* Dialog overlay */

.modal {
    display: flex;
    justify-content: center;
    padding-top: 300px;
}


.dialog {
    position: fixed;
    top: 0; right: 0;  left: 0;
    background-color: rgba(0, 0, 0, .7);

    z-index: 999;
    display: flex;
    justify-content: center;
    padding: 10rem;
    transition: .2s;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

}

.container-modal {
    flex: 1;
    background-color: white;
    padding: 20px;
    max-width: 50rem;
    margin: auto;

}

.container-modal button:first-child {
    color: #3FD5FB;
    border: 1px solid #000;
    font-weight: 900;
    padding: 5px;
    font-size: 1rem;
}

.container-modal h2 {
    text-align: center;
}

.container-modal form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-modal form input {
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    border: 1px solid #000;
    border-radius: 6px 6px 6px 6px;
}

.dialog[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
}
/* choice of color */
.container-modal form h3 {
    margin-bottom: 5px;
    color: #6e4eb0;
}

.container-color {
    display: flex;
    margin: 20px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f00c";

    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12px;
    color: #000;
}

label {
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    margin-right: 5px;
}

label:hover {
    border-color: #000;
}

.red {background-color: rgb(163, 53, 53);} /* #A33535 */
.green {background-color: rgb(94, 190, 75);} /* #5EBE4B */
.blue {background-color: #3FD5FB;}
.yellow {background-color: rgb(206, 216, 67);} /* #CED843 */
.violet {background-color: #6e4eb0;}
.white {background-color: #E6EAEC;}

/** PAGE MENTIONS **/
.container-mention {
    width: 60%;
    margin-bottom: 20px;
    margin-left: 40px;
    text-align: justify;
}

.container-mention h1 {
    font-size: 3em;
    color: #6e4eb0;
    font-weight: 900;
    text-align: center;
}

.container-mention span, a {
    font-weight: bold;
}

/** PAGE ERROR **/
.textError {
    position: relative;
    text-align: center;
    top: 300px;
}

.textError p {
    font-size: 3em;
    font-weight: bold;
    color: #6e4eb0;
    margin-bottom: 20px;
}

.textError span {
    display: block;
    font-style: italic;
    margin-bottom: 30px;

}

.textError a {
    background-color: #E6EAEC;
    color: #6e4eb0;
}